.layout {
  display: flex;
  min-height: 100vh;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout-content {
  padding: 1.5rem;
  background: var(--background);
  flex: 1;
  overflow-y: auto;
}
